@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.header {
	top: 0;
	left: 0;
	z-index: 2;
	position: fixed;

	width: 100%;
	padding: 1rem;

	animation: fade-in var(--transition-page);
}

.header > .nav {
	width: 100%;
	max-width: 80rem;

	display: flex;
	justify-content: flex-end;

	margin: auto;
}

.header > .nav > a {
	border-radius: 0.5rem;
	border: 2px solid rgba(var(--color-outline-rgb), 0.6);
	color: var(--color-on-background);
}
