.hover {
	top: 0;
	left: 0;
	position: absolute;

	width: 100%;
	height: 100%;
	border-radius: 6.25rem;

	transition: background-color var(--transition), box-shadow var(--transition);
}

.text-button {
	position: relative;

	display: flex;
	padding: 0.625rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	user-select: none;

	border: none;
	outline: none;
	border-radius: 6.25rem;
	background-color: transparent;

	cursor: pointer;
	color: var(--color-primary);
	transition: color var(--transition), background-color var(--transition);

	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

.text-button-disabled {
	cursor: auto;
	color: var(--color-on-surface-disabled);
}

.text-button-disabled:active {
	background-color: transparent;
}

.text-button:active > .hover {
	background-color: rgba(var(--color-primary-rgb), 0.12);
}

@media (min-width: 80rem) {
	.text-button:hover > .hover {
		background-color: rgba(var(--color-primary-rgb), 0.08);
	}

	.text-button-disabled:hover {
		background-color: transparent;
	}

	.text-button:focus-visible > .hover {
		background-color: rgba(var(--color-primary-rgb), 0.12);
	}

	.text-button-disabled:focus-visible {
		background-color: transparent;
	}
}

.filled-button {
	position: relative;

	display: flex;
	padding: 0.625rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	user-select: none;

	border: none;
	outline: none;
	border-radius: 6.25rem;
	background-color: transparent;

	cursor: pointer;
	color: var(--color-on-primary);
	background-color: var(--color-primary);
	transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);

	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

.filled-button:active > .hover {
	background-color: rgba(var(--color-object-hover-inverse-rgb), 0.12);
}

.filled-button-disabled {
	cursor: auto;
	color: var(--color-on-surface-disabled);
	background-color: var(--color-surface-disabled);
}

.filled-button-disabled:active > .hover {
	background-color: transparent;
}

@media (min-width: 80rem) {
	.filled-button:hover > .hover {
		box-shadow: var(--shadow-level-1);
		background-color: rgba(var(--color-object-hover-inverse-rgb), 0.08);
	}

	.filled-button-disabled:hover > .hover {
		box-shadow: var(--shadow-level-0);
		background-color: transparent;
	}

	.filled-button:focus-visible > .hover {
		background-color: rgba(var(--color-object-hover-inverse-rgb), 0.12);
	}

	.filled-button-disabled:focus-visible > .hover {
		background-color: transparent;
	}
}

.outlined-button {
	position: relative;

	display: flex;
	padding: 0.625rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	user-select: none;

	border: none;
	outline: none;
	border-radius: 6.25rem;
	background-color: transparent;

	cursor: pointer;
	color: var(--color-primary);
	border: 1px solid var(--color-outline);
	background-color: transparent;
	transition: color var(--transition), background-color var(--transition), box-shadow var(--transition),
		border-color var(--transition);

	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

.outlined-button:active > .hover {
	background-color: rgba(var(--color-primary-rgb), 0.12);
}

.outlined-button-disabled {
	cursor: auto;
	color: var(--color-on-surface-disabled);
	border-color: var(--color-surface-disabled);
}

.outlined-button-disabled:active > .hover {
	background-color: transparent;
}

@media (min-width: 80rem) {
	.outlined-button:hover > .hover {
		background-color: rgba(var(--color-primary-rgb), 0.08);
	}

	.outlined-button-disabled:hover > .hover {
		background-color: transparent;
	}

	.outlined-button:focus-visible {
		border-color: var(--color-primary);
	}

	.outlined-button:focus-visible > .hover {
		background-color: rgba(var(--color-primary-rgb), 0.12);
	}

	.outlined-button-disabled:focus-visible > .hover {
		background-color: transparent;
	}
}

.elevated-button {
	position: relative;

	display: flex;
	padding: 0.625rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	user-select: none;

	border: none;
	outline: none;
	border-radius: 6.25rem;
	background-color: transparent;

	cursor: pointer;
	color: var(--color-primary);
	background-color: var(--color-surface-container);
	transition: color var(--transition), background-color var(--transition), box-shadow var(--transition),
		border-color var(--transition);

	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

.elevated-button > .hover {
	box-shadow: var(--shadow-level-1);
}

.elevated-button:active > .hover {
	background-color: rgba(var(--color-primary-rgb), 0.12);
}

.elevated-button-disabled {
	cursor: auto;
	color: var(--color-on-surface-disabled);
	background-color: var(--color-surface-disabled);
}

.elevated-button-disabled > .hover {
	box-shadow: var(--shadow-level-0);
}

.elevated-button-disabled:active > .hover {
	background-color: transparent;
}

@media (min-width: 80rem) {
	.elevated-button:hover > .hover {
		box-shadow: var(--shadow-level-2);
		background-color: rgba(var(--color-primary-rgb), 0.08);
	}

	.elevated-button-disabled:hover > .hover {
		box-shadow: var(--shadow-level-0);
		background-color: transparent;
	}

	.elevated-button:focus-visible > .hover {
		background-color: rgba(var(--color-primary-rgb), 0.12);
	}

	.elevated-button-disabled:focus-visible > .hover {
		background-color: transparent;
	}
}

.tonal-button {
	position: relative;

	display: flex;
	padding: 0.625rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	user-select: none;

	border: none;
	outline: none;
	border-radius: 6.25rem;
	background-color: transparent;

	cursor: pointer;
	color: var(--color-on-secondary-container);
	background-color: var(--color-secondary-container);
	transition: color var(--transition), background-color var(--transition), box-shadow var(--transition),
		border-color var(--transition);

	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

.tonal-button:active > .hover {
	background-color: rgba(var(--color-object-hover-rgb), 0.12);
}

.tonal-button-disabled {
	cursor: auto;
	color: var(--color-on-surface-disabled);
	background-color: var(--color-surface-disabled);
}

.tonal-button-disabled:active > .hover {
	background-color: transparent;
}

@media (min-width: 80rem) {
	.tonal-button:hover > .hover {
		box-shadow: var(--shadow-level-1);
		background-color: rgba(var(--color-object-hover-rgb), 0.08);
	}

	.tonal-button-disabled:hover > .hover {
		box-shadow: var(--shadow-level-0);
		background-color: transparent;
	}

	.tonal-button:focus-visible > .hover {
		background-color: rgba(var(--color-object-hover-rgb), 0.12);
	}

	.tonal-button-disabled:focus-visible > .hover {
		background-color: transparent;
	}
}
