.container {
	position: relative;
	gap: 0.25rem;

	display: flex;
	flex-direction: column;
}

.container > .field-set {
	position: relative;
	z-index: 2;

	border: none;
	padding: 0rem;

	width: 100%;
	height: 3.5rem;

	outline: none;
	border-radius: 8px;

	border: 2px solid rgba(var(--color-outline-rgb), 0.4);

	transition: border var(--transition), box-shadow var(--transition);

	display: flex;
	align-items: center;
}

.container > .field-set:focus-within {
	border-color: var(--color-primary);
}

.error > .field-set {
	border: 2px solid var(--color-error);
}

.error > .field-set:focus-within {
	border: 2px solid var(--color-error);
}

.container > .field-set > .icon-container {
	top: -1px;
	position: relative;

	margin: 0.5rem;
	padding: 0.5rem;
}

.container > .field-set > .icon-container > svg {
	min-width: 1.5rem;
	max-width: 1.5rem;
	min-height: 1.5rem;
	max-height: 1.5rem;

	color: var(--color-on-surface-variant);
	transition: color var(--transition);
}

.container > .field-set > .input {
	width: 100%;
	height: 3.5rem;
	padding: 15px 13px;

	top: -1px;
	z-index: 3;
	position: relative;

	border: none;
	outline: none;

	width: 100%;

	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5rem;
	color: var(--color-on-surface);
	transition: color var(--transition);
	letter-spacing: 0.03125rem;

	user-select: text;
	background-color: transparent;
}

.container > .field-set > button {
	top: -1px;
	position: relative;
}

.container > .field-set > .input[type='url'] {
	padding: 15px 13px 15px 0px;
}

.container > .field-set > .input[type='url'] ~ .label {
	left: 50px;
}

.container > .field-set > .input[type='url']:focus ~ .label {
	left: 13px;
}

.container > .field-set > .input[type='url']:not(:placeholder-shown) ~ .label {
	left: 13px;
}

.container > .field-set > .input[type='password'] {
	padding: 15px 0px 15px 13px;
}

.container > .field-set > .input:not(:placeholder-shown) ~ .label {
	top: -9px;
	left: 13px;

	line-height: 1rem;
	font-size: 0.75rem;
}

.error > .field-set > .input:not(:placeholder-shown) ~ .label {
	color: var(--color-error);
}

.container > .field-set > .input:required ~ .label::after {
	content: '*';
}

.container > .field-set > .label {
	z-index: 2;
	position: absolute;

	user-select: none;

	left: 13px;
	top: 14px;

	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.03125rem;
	white-space: nowrap;

	display: flex;

	margin: 0rem;
	padding-inline: 4px;

	cursor: text;

	background-color: var(--color-surface);
	color: rgba(var(--color-on-surface-variant-rgb), 0.6);

	transition: all var(--transition);
}

.container > .field-set:focus-within > .label {
	top: -9px;
	left: 13px;

	line-height: 1rem;
	font-size: 0.75rem;

	color: var(--color-primary);
}

.error > .field-set:focus-within > .label {
	color: var(--color-error);
}

.container > .helper-text {
	opacity: 0;
	padding-left: 1rem;

	font-weight: 400;
	line-height: 1rem;
	font-size: 0.75rem;
	font-style: normal;
	height: 1rem;

	color: var(--color-on-surface-variant);
	transition: color var(--transition), opacity var(--transition);
}

.error > .helper-text {
	color: var(--color-error);
}

.container > .show-helper-text {
	opacity: 1;
}
