@import url(https://rsms.me/inter/inter.css);

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

:root {
	font-family: 'Inter', sans-serif;

	--transition: 200ms ease;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--color-on-surface-disabled);
}

::selection {
	color: var(--color-on-primary);
	background-color: var(--color-primary);
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

	font-family: Inter;

	/* overflow-y: scroll;
	scrollbar-gutter: stable both-edges; */

	color: var(--color-on-background);
	background-color: var(--color-background);
	transition: background-color var(--transition);
}

h1 {
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.5rem;
}

h2 {
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.25rem;
}

h3 {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2rem;
}

h4 {
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.75rem;
}

h5 {
	font-size: 1.05rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem;
	letter-spacing: 0.00938rem;
}

h6 {
	font-size: 0.85rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
	letter-spacing: 0.00625rem;
}

p {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.03125rem;
}
