:root {
	--color-primary: rgb(36, 95, 166);
	--color-on-primary: rgb(255, 255, 255);
	--color-primary-container: rgb(213, 227, 255);
	--color-on-primary-container: rgb(0, 27, 60);
	--color-secondary: rgb(85, 95, 113);
	--color-on-secondary: rgb(255, 255, 255);
	--color-secondary-container: rgb(217, 227, 248);
	--color-on-secondary-container: rgb(18, 28, 43);
	--color-tertiary: rgb(110, 86, 118);
	--color-on-tertiary: rgb(255, 255, 255);
	--color-tertiary-contianer: rgb(248, 216, 254);
	--color-on-tertiary-container: rgb(40, 19, 47);
	--color-error: rgb(186, 26, 26);
	--color-on-error: rgb(255, 255, 255);
	--color-error-container: rgb(255, 218, 214);
	--color-on-error-container: rgb(65, 0, 2);
	--color-background: rgb(253, 251, 255);
	--color-on-background: rgb(26, 28, 30);
	--color-surface: rgb(253, 251, 255);
	--color-on-surface: rgb(67, 71, 78);
	--color-surface-variant: rgb(224, 226, 236);
	--color-on-surface-variant: rgb(82, 68, 59);
	--color-outline: rgb(116, 119, 127);
	--color-outline-variant: rgb(196, 198, 207);
	--color-shadow: rgb(0, 0, 0);
	--color-scrim: rgb(0, 0, 0);
	--color-inverse-surface: rgb(47, 48, 51);
	--color-inverse-on-surface: rgb(241, 240, 244);
	--color-inverse-primary: rgb(167, 200, 255);
	--color-elevation-level-0: transparent;
	--color-elevation-level-1: rgba(242, 243, 251, 0.05);
	--color-elevation-level-2: rgba(236, 239, 248, 0.08);
	--color-elevation-level-3: rgba(229, 234, 245, 0.11);
	--color-elevation-level-4: rgba(227, 232, 244, 0.12);
	--color-elevation-level-5: rgba(223, 229, 243, 0.14);
	--color-surface-disabled: rgba(26, 28, 30, 0.12);
	--color-on-surface-disabled: rgba(26, 28, 30, 0.38);
	--color-backdrop: rgba(45, 48, 56, 0.4);
	--color-object-hover: rgb(0, 0, 0);
	--color-object-hover-inverse: rgb(255, 255, 255);

	--color-primary-rgb: 146, 76, 0;
	--color-on-primary-rgb: 255, 255, 255;
	--color-primary-container-rgb: 255, 220, 196;
	--color-on-primary-container-rgb: 47, 20, 0;
	--color-secondary-rgb: 175, 47, 33;
	--color-on-secondary-rgb: 255, 255, 255;
	--color-secondary-container-rgb: 255, 218, 212;
	--color-on-secondary-container-rgb: 65, 0, 0;
	--color-tertiary-rgb: 187, 0, 83;
	--color-on-tertiary-rgb: 255, 255, 255;
	--color-tertiary-contianer-rgb: 255, 217, 223;
	--color-on-tertiary-container-rgb: 63, 0, 23;
	--color-error-rgb: 186, 26, 26;
	--color-on-error-rgb: 255, 255, 255;
	--color-error-container-rgb: 255, 218, 214;
	--color-on-error-container-rgb: 65, 0, 2;
	--color-background-rgb: 255, 251, 255;
	--color-on-background-rgb: 32, 26, 23;
	--color-surface-rgb: 255, 251, 255;
	--color-on-surface-rgb: 32, 26, 23;
	--color-surface-variant-rgb: 243, 223, 210;
	--color-on-surface-variant-rgb: 82, 68, 59;
	--color-outline-rgb: 132, 116, 106;
	--color-outline-variant-rgb: 214, 195, 183;
	--color-shadow-rgb: 0, 0, 0;
	--color-scrim-rgb: 0, 0, 0;
	--color-inverse-surface-rgb: 54, 47, 43;
	--color-inverse-on-surface-rgb: 251, 238, 232;
	--color-inverse-primary-rgb: 255, 183, 128;
	--color-elevation-level-0-rgb: transparent;
	--color-elevation-level-1-rgb: 250, 242, 242;
	--color-elevation-level-2-rgb: 246, 237, 235;
	--color-elevation-level-3-rgb: 243, 232, 227;
	--color-elevation-level-4-rgb: 242, 230, 224;
	--color-elevation-level-5-rgb: 240, 227, 219;
	--color-surface-disabled-rgb: 32, 26, 23;
	--color-on-surface-disabled-rgb: 32, 26, 23;
	--color-backdrop-rgb: 58, 46, 38;
	--color-object-hover-rgb: 0, 0, 0;
	--color-object-hover-inverse-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: rgb(167, 200, 255);
		--color-on-primary: rgb(0, 48, 97);
		--color-primary-container: rgb(0, 70, 137);
		--color-on-primary-container: rgb(213, 227, 255);
		--color-secondary: rgb(189, 199, 220);
		--color-on-secondary: rgb(39, 49, 65);
		--color-secondary-container: rgb(61, 71, 88);
		--color-on-secondary-container: rgb(217, 227, 248);
		--color-tertiary: rgb(219, 188, 225);
		--color-on-tertiary: rgb(62, 40, 69);
		--color-tertiary-container: rgb(86, 62, 93);
		--color-on-tertiary-container: rgb(248, 216, 254);
		--color-error: rgb(255, 180, 171);
		--color-on-error: rgb(105, 0, 5);
		--color-error-container: rgb(147, 0, 10);
		--color-on-error-container: rgb(255, 180, 171);
		--color-background: rgb(26, 28, 30);
		--color-on-background: rgb(227, 226, 230);
		--color-surface: rgb(26, 28, 30);
		--color-on-surface: rgb(227, 226, 230);
		--color-surface-variant: rgb(67, 71, 78);
		--color-on-surface-variant: rgb(196, 198, 207);
		--color-outline: rgb(142, 145, 153);
		--color-outline-variant: rgb(67, 71, 78);
		--color-shadow: rgb(0, 0, 0);
		--color-scrim: rgb(0, 0, 0);
		--color-inverse-surface: rgb(227, 226, 230);
		--color-inverse-on-surface: rgb(47, 48, 51);
		--color-inverse-primary: rgb(36, 95, 166);
		--color-elevation-level-0: transparent;
		--color-elevation-level-1: rgba(33, 37, 41, 0.05);
		--color-elevation-level-2: rgba(37, 42, 48, 0.08);
		--color-elevation-level-3: rgba(42, 47, 55, 0.11);
		--color-elevation-level-4: rgba(43, 49, 57, 0.12);
		--color-elevation-level-5: rgba(46, 52, 62, 0.14);
		--color-surface-disabled: rgba(227, 226, 230, 0.12);
		--color-on-surface-disabled: rgba(227, 226, 230, 0.38);
		--color-backdrop: rgba(45, 48, 56, 0.4);
		--color-object-hover: rgb(255, 255, 255);
		--color-object-hover-inverse: rgb(0, 0, 0);

		--color-primary-rgb: 167, 200, 255;
		--color-on-primary-rgb: 0, 48, 97;
		--color-primary-container-rgb: 0, 70, 137;
		--color-on-primary-container-rgb: 213, 227, 255;
		--color-secondary-rgb: 189, 199, 220;
		--color-on-secondary-rgb: 39, 49, 65;
		--color-secondary-container-rgb: 61, 71, 88;
		--color-on-secondary-container-rgb: 217, 227, 248;
		--color-tertiary-rgb: 219, 188, 225;
		--color-on-tertiary-rgb: 62, 40, 69;
		--color-tertiary-container-rgb: 86, 62, 93;
		--color-on-tertiary-container-rgb: 248, 216, 254;
		--color-error-rgb: 255, 180, 171;
		--color-on-error-rgb: 105, 0, 5;
		--color-error-container-rgb: 147, 0, 10;
		--color-on-error-container-rgb: 255, 180, 171;
		--color-background-rgb: 26, 28, 30;
		--color-on-background-rgb: 227, 226, 230;
		--color-surface-rgb: 26, 28, 30;
		--color-on-surface-rgb: 227, 226, 230;
		--color-surface-variant-rgb: 67, 71, 78;
		--color-on-surface-variant-rgb: 196, 198, 207;
		--color-outline-rgb: 142, 145, 153;
		--color-outline-variant-rgb: 67, 71, 78;
		--color-shadow-rgb: 0, 0, 0;
		--color-scrim-rgb: 0, 0, 0;
		--color-inverse-surface-rgb: 227, 226, 230;
		--color-inverse-on-surface-rgb: 47, 48, 51;
		--color-inverse-primary-rgb: 36, 95, 166;
		--color-elevation-level-0-rgb: transparent;
		--color-elevation-level-1-rgb: 33, 37, 41;
		--color-elevation-level-2-rgb: 37, 42, 48;
		--color-elevation-level-3-rgb: 42, 47, 55;
		--color-elevation-level-4-rgb: 43, 49, 57;
		--color-elevation-level-5-rgb: 46, 52, 62;
		--color-surface-disabled-rgb: 227, 226, 230;
		--color-on-surface-disabled-rgb: 227, 226, 230;
		--color-backdrop-rgb: 45, 48, 56;
		--color-object-hover-rgb: 255, 255, 255;
		--color-object-hover-inverse-rgb: 0, 0, 0;
	}
}
