:root {
	--color-primary: rgb(0, 107, 95);
	--color-on-primary: rgb(255, 255, 255);
	--color-primary-container: rgb(116, 248, 228);
	--color-on-primary-container: rgb(0, 32, 28);
	--color-secondary: rgb(0, 98, 157);
	--color-on-secondary: rgb(255, 255, 255);
	--color-secondary-container: rgb(207, 229, 255);
	--color-on-secondary-container: rgb(0, 29, 51);
	--color-tertiary: rgb(156, 65, 71);
	--color-on-tertiary: rgb(255, 255, 255);
	--color-tertiary-contianer: rgb(255, 218, 218);
	--color-on-tertiary-container: rgb(64, 0, 10);
	--color-error: rgb(186, 26, 26);
	--color-on-error: rgb(255, 255, 255);
	--color-error-container: rgb(255, 218, 214);
	--color-on-error-container: rgb(65, 0, 2);
	--color-background: rgb(250, 253, 251);
	--color-on-background: rgb(25, 28, 27);
	--color-surface: rgb(250, 253, 251);
	--color-on-surface: rgb(25, 28, 27);
	--color-surface-variant: rgb(218, 229, 225);
	--color-on-surface-variant: rgb(63, 73, 70);
	--color-outline: rgb(111, 121, 118);
	--color-outline-variant: rgb(190, 201, 197);
	--color-shadow: rgb(0, 0, 0);
	--color-scrim: rgb(0, 0, 0);
	--color-inverse-surface: rgb(45, 49, 48);
	--color-inverse-on-surface: rgb(239, 241, 239);
	--color-inverse-primary: rgb(84, 219, 200);
	--color-elevation-level-0: transparent;
	--color-elevation-level-1: rgba(238, 246, 243, 0.05);
	--color-elevation-level-2: rgba(230, 241, 239, 0.08);
	--color-elevation-level-3: rgba(223, 237, 234, 0.11);
	--color-elevation-level-4: rgba(220, 236, 232, 0.12);
	--color-elevation-level-5: rgba(215, 233, 229, 0.14);
	--color-surface-disabled: rgba(25, 28, 27, 0.12);
	--color-on-surface-disabled: rgba(25, 28, 27, 0.38);
	--color-backdrop: rgba(41, 50, 48, 0.4);
	--color-object-hover: rgb(0, 0, 0);
	--color-object-hover-inverse: rgb(255, 255, 255);

	--color-primary-rgb: 0, 107, 95;
	--color-on-primary-rgb: 255, 255, 255;
	--color-primary-container-rgb: 116, 248, 228;
	--color-on-primary-container-rgb: 0, 32, 28;
	--color-secondary-rgb: 0, 98, 157;
	--color-on-secondary-rgb: 255, 255, 255;
	--color-secondary-container-rgb: 207, 229, 255;
	--color-on-secondary-container-rgb: 0, 29, 51;
	--color-tertiary-rgb: 156, 65, 71;
	--color-on-tertiary-rgb: 255, 255, 255;
	--color-tertiary-contianer-rgb: 255, 218, 218;
	--color-on-tertiary-container-rgb: 64, 0, 10;
	--color-error-rgb: 186, 26, 26;
	--color-on-error-rgb: 255, 255, 255;
	--color-error-container-rgb: 255, 218, 214;
	--color-on-error-container-rgb: 65, 0, 2;
	--color-background-rgb: 250, 253, 251;
	--color-on-background-rgb: 25, 28, 27;
	--color-surface-rgb: 250, 253, 251;
	--color-on-surface-rgb: 25, 28, 27;
	--color-surface-variant-rgb: 218, 229, 225;
	--color-on-surface-variant-rgb: 63, 73, 70;
	--color-outline-rgb: 111, 121, 118;
	--color-outline-variant-rgb: 190, 201, 197;
	--color-shadow-rgb: 0, 0, 0;
	--color-scrim-rgb: 0, 0, 0;
	--color-inverse-surface-rgb: 45, 49, 48;
	--color-inverse-on-surface-rgb: 239, 241, 239;
	--color-inverse-primary-rgb: 84, 219, 200;
	--color-elevation-level-0-rgb: transparent;
	--color-elevation-level-1-rgb: 238, 246, 243;
	--color-elevation-level-2-rgb: 230, 241, 239;
	--color-elevation-level-3-rgb: 223, 237, 234;
	--color-elevation-level-4-rgb: 220, 236, 232;
	--color-elevation-level-5-rgb: 215, 233, 229;
	--color-surface-disabled-rgb: 25, 28, 27;
	--color-on-surface-disabled-rgb: 25, 28, 27;
	--color-backdrop-rgb: 41, 50, 48;
	--color-object-hover-rgb: 0, 0, 0;
	--color-object-hover-inverse-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: rgb(84, 219, 200);
		--color-on-primary: rgb(0, 55, 49);
		--color-primary-container: rgb(0, 80, 72);
		--color-on-primary-container: rgb(116, 248, 228);
		--color-secondary: rgb(152, 203, 255);
		--color-on-secondary: rgb(0, 51, 84);
		--color-secondary-container: rgb(0, 74, 119);
		--color-on-secondary-container: rgb(207, 229, 255);
		--color-tertiary: rgb(255, 179, 180);
		--color-on-tertiary: rgb(95, 19, 28);
		--color-tertiary-container: rgb(126, 41, 49);
		--color-on-tertiary-container: rgb(255, 218, 218);
		--color-error: rgb(255, 180, 171);
		--color-on-error: rgb(105, 0, 5);
		--color-error-container: rgb(147, 0, 10);
		--color-on-error-container: rgb(255, 180, 171);
		--color-background: rgb(25, 28, 27);
		--color-on-background: rgb(224, 227, 225);
		--color-surface: rgb(25, 28, 27);
		--color-on-surface: rgb(224, 227, 225);
		--color-surface-variant: rgb(63, 73, 70);
		--color-on-surface-variant: rgb(190, 201, 197);
		--color-outline: rgb(137, 147, 144);
		--color-outline-variant: rgb(63, 73, 70);
		--color-shadow: rgb(0, 0, 0);
		--color-scrim: rgb(0, 0, 0);
		--color-inverse-surface: rgb(224, 227, 225);
		--color-inverse-on-surface: rgb(45, 49, 48);
		--color-inverse-primary: rgb(0, 107, 95);
		--color-elevation-level-0: transparent;
		--color-elevation-level-1: rgba(28, 38, 36, 0.05);
		--color-elevation-level-2: rgba(30, 43, 41, 0.08);
		--color-elevation-level-3: rgba(32, 49, 46, 0.11);
		--color-elevation-level-4: rgba(32, 51, 48, 0.12);
		--color-elevation-level-5: rgba(33, 55, 51, 0.14);
		--color-surface-disabled: rgba(224, 227, 225, 0.12);
		--color-on-surface-disabled: rgba(224, 227, 225, 0.38);
		--color-backdrop: rgba(41, 50, 48, 0.4);
		--color-object-hover: rgb(255, 255, 255);
		--color-object-hover-inverse: rgb(0, 0, 0);

		--color-primary-rgb: 84, 219, 200;
		--color-on-primary-rgb: 0, 55, 49;
		--color-primary-container-rgb: 0, 80, 72;
		--color-on-primary-container-rgb: 116, 248, 228;
		--color-secondary-rgb: 152, 203, 255;
		--color-on-secondary-rgb: 0, 51, 84;
		--color-secondary-container-rgb: 0, 74, 119;
		--color-on-secondary-container-rgb: 207, 229, 255;
		--color-tertiary-rgb: 255, 179, 180;
		--color-on-tertiary-rgb: 95, 19, 28;
		--color-tertiary-container-rgb: 126, 41, 49;
		--color-on-tertiary-container-rgb: 255, 218, 218;
		--color-error-rgb: 255, 180, 171;
		--color-on-error-rgb: 105, 0, 5;
		--color-error-container-rgb: 147, 0, 10;
		--color-on-error-container-rgb: 255, 180, 171;
		--color-background-rgb: 25, 28, 27;
		--color-on-background-rgb: 224, 227, 225;
		--color-surface-rgb: 25, 28, 27;
		--color-on-surface-rgb: 224, 227, 225;
		--color-surface-variant-rgb: 63, 73, 70;
		--color-on-surface-variant-rgb: 190, 201, 197;
		--color-outline-rgb: 137, 147, 144;
		--color-outline-variant-rgb: 63, 73, 70;
		--color-shadow-rgb: 0, 0, 0;
		--color-scrim-rgb: 0, 0, 0;
		--color-inverse-surface-rgb: 224, 227, 225;
		--color-inverse-on-surface-rgb: 45, 49, 48;
		--color-inverse-primary-rgb: 0, 107, 95;
		--color-elevation-level-0-rgb: transparent;
		--color-elevation-level-1-rgb: 28, 38, 36;
		--color-elevation-level-2-rgb: 30, 43, 41;
		--color-elevation-level-3-rgb: 32, 49, 46;
		--color-elevation-level-4-rgb: 32, 51, 48;
		--color-elevation-level-5-rgb: 33, 55, 51;
		--color-surface-disabled-rgb: 224, 227, 225;
		--color-on-surface-disabled-rgb: 224, 227, 225;
		--color-backdrop-rgb: 41, 50, 48;
		--color-object-hover-rgb: 255, 255, 255;
		--color-object-hover-inverse-rgb: 0, 0, 0;
	}
}
